@keyframes animation1 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes animation2 {
    from {
        transform: translateY(70px);
    }

    to {
        transform: translateY(60px);
    }
}
@keyframes animation3 {
    from {
        transform: translateY(50px);
    }

    to {
        transform: translateY(40px);
    }
}